<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simons Page</title>
</head>

<style>
    #header{
        font-family: Monaco;
    }
    .text{
        font-family: Monaco;
    }
</style>
    <h1 id="header" style="margin-right: 250px; margin-left: 250px">
        Hello World!
    </h1>
<body>
<div class="text">
    <p class="textmesage" style="margin-right: 250px; margin-left: 250px">
    I'am Simon, an aspiring developer studying an AP in Computer Science at KEA.
        My fiancé and I live in the eastern part of central copenhagen in a three-room apartment.
        I have been living here for about six years, after I spend my teenage years in Southern Denmark.
        Studying an AP in Computer Science has convinced me that IT i somewhat my natural habitat.
        I can't get my hands down from all the possibilities that programming and coding brings.
    </p>
</div>
</body>
</html>