<html>
<style>
    .header{
        font-size: 100px;
        font-family: "Arial";
        text-align: start;
        background: white;
    }
    .body-text{
        font-family: "Arial";
        font-size: 100px;
    }

</style>
<title>
    myStory
</title>
<div class="header" >
    <header>
        <p style = "margin-right: 50px; border:10px solid white; align:center ">
            myStory
        </p>
    </header>
</div>
<body>
<div class="body-text">
    <div class="boxone" style="margin: 100px; border: 400px solid white; align-items: end ">
    </div>
    <p style="margin-left: 50px">
        First of all
        I'm passionate about knowledge.
    </p>
    <div class="boxone" style="margin: 100px; border: 400px solid white; align-items: end ">
    </div>
</div>
</body>
</html>