<html>
<style>
    .header{
        font-size: 50px;
        font-family: "Arial Hebrew";
        text-align: justify-all;
        background: cornflowerblue;
    }
    .body-text{
        font-family: "Arial";
        font-size: 100px;
    }
</style>
<title>
    Simons Portfolio
</title>
    <div class="header" >
        <header>
            <p style = "margin: 50px; border:100px solid cornflowerblue; align:end ">
                SIMONS PORTFOLIO
            </p>
        </header>
    </div>
<body>
<div class="body-text">
    <p style="margin-left: 50px">
    Born by the danish west coast
    </p>
    <div class="boxone" style="margin: 100px; border: 500px solid white">
    </div>
    <p style="margin-right: 50px" align="end">
    growing up in a small village
    <div class="boxone" style="margin: 100px; border: 500px solid white">
    </div>
    </p>
    <p style="margin-left: 50px">
    I'm the first-born of a four-person family.
    <div class="boxone" style="margin: 100px; border: 500px solid white">
    </div>
    </p>
</div>
</body>
</html>